.canvasRoot {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: stretch;
  justify-content: stretch;
  overflow: hidden;
  overscroll-behavior: contain;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  touch-action: none;
}

.canvasViewportWrapper {
  flex: 1;
  border: 1px solid #e5e7eb;
  position: relative;
}
